*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:purple;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1px;
    margin-bottom: 20px;
}
.form{
     margin-bottom: 2%;
    margin-left: 10%;
}
input[type="text"]{
    margin-right: 2%;
    font-size: 1.1rem;
}
.meme{
    position: relative;
    width: 90%;
    margin: auto;
}
.memeImg{
    width: 80%;
    height: auto;
}
.meme h2{
    position: absolute;
    width: 75%;
    text-align: center;
    left: 50%;
    transform: translateX(-63%);
    margin: 15px 0px;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.topTxt{
    top:0px;
}
.bottomTxt{
    bottom: 0px;
}
.btn{
    color: white;
    background-color: purple;
    border: none;
    padding: 0.25% 1.5%;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(62, 238, 238);
    color: purple;
}